<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

In [1]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.6.tar.gz (383 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.0/384.0 kB 3.3 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.6-cp39-cp39-macosx_10_9_x86_64.whl size=133903 sha256=04ac1464f917395b4cccb33627f824ac86555f033628af4cfb0268bceaa94dcf
  Stored in directory: /Users/inreleppik/Library/Caches/pip/wheels/e0/1d/09/2bc95af38e38d614767de0126fbf27a55a5c277f612aa6a51f
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6

In [2]:
import sqlalchemy as sa

In [7]:
engine = sa.create_engine('postgresql://postgres:******@localhost:5432/postgres')

In [8]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
%sql $engine.url

In [15]:
%sql SELECT * FROM spacex LIMIT 10

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[(datetime.date(2010, 6, 4), '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 9, 29), '16:00:00', 'F9 v1.1  B1003', 'VAFB SLC-4E', 'CASSIOPE', 500, 'Polar LEO', 'MDA', 'Success', 'Uncontrolled (ocean)'),
 (datetime.date(2013, 12, 3), '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt'),
 (datetime.date(2014, 1, 6), '22:06:00', 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt'),
 (datetime.date(2014, 4, 18), '19:25:00', 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 (datetime.date(2014, 7, 14), '15:15:00', 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)')]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [39]:
%sql SELECT DISTINCT launch_site FROM spacex;

 * postgresql://postgres:***@localhost:5432/postgres
4 rows affected.

[('CCAFS SLC-40',), ('KSC LC-39A',), ('CCAFS LC-40',), ('VAFB SLC-4E',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [40]:
%%sql SELECT *
FROM spacex
WHERE launch_site LIKE 'CCA%'
LIMIT 5;

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[(datetime.date(2010, 6, 4), '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [41]:
%%sql SELECT SUM(payload_mass_kg_)
FROM spacex
WHERE customer = 'NASA (CRS)';

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [42]:
%%sql SELECT AVG(payload_mass_kg_)
FROM spacex
WHERE 1=1
AND booster_version LIKE 'F9 v1.1%';

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(Decimal('2534.6666666666666667'),)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [43]:
%sql SELECT DISTINCT landing_outcome FROM spacex;

 * postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[('Failure (parachute)',),
 ('Controlled (ocean)',),
 ('Success (drone ship)',),
 ('Precluded (drone ship)',),
 ('Uncontrolled (ocean)',),
 ('Success (ground pad)',),
 ('Success',),
 ('Failure',),
 ('Failure (drone ship)',),
 ('No attempt',)]

In [44]:
%%sql SELECT MIN(date)
FROM spacex
WHERE 1=1
AND landing_outcome = 'Success (ground pad)';

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(datetime.date(2015, 12, 22),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [45]:
%%sql SELECT booster_version
FROM spacex
WHERE 1=1
AND payload_mass_kg_ > 4000
AND payload_mass_kg_ < 6000
AND landing_outcome = 'Success (drone ship)';

 * postgresql://postgres:***@localhost:5432/postgres
4 rows affected.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [46]:
%%sql SELECT mission_outcome, COUNT(mission_outcome)
FROM spacex
GROUP BY mission_outcome;

 * postgresql://postgres:***@localhost:5432/postgres
3 rows affected.

[('Success (payload status unclear)', 1),
 ('Success', 99),
 ('Failure (in flight)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [47]:
%%sql SELECT DISTINCT booster_version
FROM spacex
WHERE 1=1
AND payload_mass_kg_ = (SELECT MAX(payload_mass_kg_)
                       FROM spacex);

 * postgresql://postgres:***@localhost:5432/postgres
12 rows affected.

[('F9 B5 B1048.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1049.7',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1060.3',)]

### Task 9


##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [54]:
%%sql SELECT landing_outcome, booster_version, date, launch_site
FROM spacex
WHERE 1=1
AND landing_outcome = 'Failure (drone ship)'
AND EXTRACT(YEAR FROM date) = '2015';

 * postgresql://postgres:***@localhost:5432/postgres
2 rows affected.

[('Failure (drone ship)', 'F9 v1.1 B1012', datetime.date(2015, 1, 10), 'CCAFS LC-40'),
 ('Failure (drone ship)', 'F9 v1.1 B1015', datetime.date(2015, 4, 14), 'CCAFS LC-40')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [58]:
%%sql SELECT RANK() OVER(ORDER BY COUNT(landing_outcome) DESC)
 , landing_outcome
 ,COUNT(landing_outcome)
FROM spacex
WHERE 1=1
AND date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY landing_outcome

 * postgresql://postgres:***@localhost:5432/postgres
8 rows affected.

[(1, 'No attempt', 10),
 (2, 'Failure (drone ship)', 5),
 (2, 'Success (drone ship)', 5),
 (4, 'Success (ground pad)', 3),
 (4, 'Controlled (ocean)', 3),
 (6, 'Uncontrolled (ocean)', 2),
 (6, 'Failure (parachute)', 2),
 (8, 'Precluded (drone ship)', 1)]